h2
{ font-family: king;
  font-size: 2.5rem;
  color: black;
}

button:hover
{ cursor: pointer;
}

.gestion
{ width: 95%;
  height: 80%;
  background-color: #C3C6D1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Barre de recherche */
#recherche
{ width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#recherche input
{ width: 40%;
  border-radius: 5px;
  padding: 10px;
}

#recherche button
{ background-color: #20233F;
  color: white;
  font-family: caviar;
  padding: 10px;
  border-radius: 5px;
}

#recherche button:hover
{ background-color: white;
  color: #20233F;
}

table
{ width: 45%;
  background-color: white !important;
  border: 2px solid #20233F;
  border-radius: 5px;
  padding: 20px;
  font-family: caviar;
}
