
html {
  font-size: 20px
}

/* debug */
.debug-trace { background-color: #B4242F; color: gray;padding: 0.5em;margin-bottom: 5px}
.debug-trace pre {background-color: white; color:black}
.debug-trace-line-info {font-style: italic;color: #EB8B93;margin: 0;font-size: 0.8em}

.container-wrapper {width: 80%;margin: 20px auto}



body {
  background-color:#2b2b2b;
  color: white;
}
h1,label{
  color:white !important;
  text-align: center;
}

.modal#editer{
  display:block;
}


h2
{
  text-align:center;
  font-size: 20px;
  color:white;
}


.wrapper
{
  position:absolute;
  left:0px;
  top:0px;
}

.modal-body.botable h1, .modal-body label.botable{
  color:black;
}

.modal-dialog.botable{
  max-width: 800px;
}


#admin
{
  position:absolute;
  right:0px;
  top:0px;
}

.grille {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #696969;
  z-index:0;
}

.tuile
{
  padding:10px;
}

.zoom
{
  z-index:2;
  background-color:red;
}


.carousel-item.full>img{
  max-width:100%;
  max-height:100%;
}

.carousel-item.half>img{
  max-width:49%;
}.carousel-item.half>p{
  color:black;
  text-align: center;
  width:49%;
}

.carousel-item.tier>img{
  max-width:56%;
}.carousel-item.tier>p{
  color:black;
  text-align: center;
  width:43%;
}

.carousel-item.txtfirst>img{
  order:9979;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active
{
  display:flex !important;
}


