h2
{ font-family: bluefish;
  font-size: 2.2rem;
  color: white;
}

button:hover
{ cursor: pointer;
}

.gestion
{ width: 95%;
  height: 80%;
  background-color: #C3C6D1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Barre de recherche */
#recherche
{ width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0vh;
}

#recherche input
{ width: 40%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#recherche button
{ background-color: #20233F;
  color: white;
  font-family: caviar;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#recherche button:hover
{ background-color: white;
  color: #20233F;
}

table
{ width: 45%;
  background-color: white !important;
  border: 2px solid #20233F;
  border-radius: 5px;
  padding: 20px;
  font-family: caviar;
}

table td
{ vertical-align: baseline !important;
}


tbody
{ overflow-y: scroll;
  height: 5em;
}

tr
{ width: 100%;
}

/* Thead fixe et tableau déroulant

.table-fixed
{ height: 100%;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/
