*
{ box-sizing:border-box;
}


.container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#infos{
background-color: #C3C6D1;
padding:20px;
width:450px;
margin:20px;

}

.modal-content{
  background-color: #C3C6D1;
}
.btn-primary{
  background-color: #808080;
}

.btn-primary:hover{
  background-color:#4c4c4c;
}

#titre h1{
  text-transform:uppercase;
  text-decoration: underline;
  font-size:20px;
}


#mail{
  padding:30px;
  text-align: center;
}

#mail input{
  text-align: center;
  color:black;
  width:100%;
}

#mdp div{
  padding-left: 70px;
  padding-bottom: 10px;
}

#mdp button,input{
  color:black;
}

#mdp h4{
  text-align: center;
  color:white !important;
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;
}

p, h4,label{
  font-family: caviar;
}

#titre h1{
  margin-top:30px;
}

#desac{
  text-align: center;
  padding:20px;
}


h4>label{
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;}


h4{
  margin-bottom:15px;
}

.admin h4{
  text-decoration: underline;
  color:white;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
}

.text-warning{
  color:red !important;
  font-family: caviarBold;
}


