*
{ box-sizing:border-box;
}

@font-face {
    font-family: modernking;
    src: url(./../fonts/modernking.ttf);
}

@font-face {
    font-family: caviardreams;
    src: url(./../fonts/caviardreams.ttf);
}


section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  clear:both;
}

#infos{
background-color: #C3C6D1;
padding:20px;
width:30vw;
margin:20px;
}



h1{
  font-family:modernking;
  text-transform:uppercase;
  text-decoration: underline;
  font-size:20px;
}


#mail{
  padding:10px;
  text-align: center;
}

#mail input{
  text-align: center;
  color:black;
  width:100%;
}

#mdp div{
  padding-left: 50px;
  padding-bottom: 10px;
}

#mdp button{
  color:black;
}


p, h4, h2,label{
  font-family: caviardreams;
}


/*Fonctionnalités pas encore présentes

#droite{
  float:right;
  width:65%;
}

#supp{
    padding:20px;
    margin:20px;
  background-color: #C3C6D1;
}

#bloc{
  padding:20px;
  margin:20px;
  background-color: #C3C6D1;
}

#supp div{
  padding: 50px;
}

#supp h4{
  color:#e50000;
  font-size:18px;
  padding-left: 25px;
}

#bloc div{
  padding-left: 50px;
  padding-bottom: 10px;
}
*/
