/*Polices*/
@font-face
{ font-family: "caviar";
  src: url("./../font/CaviarDreams/CaviarDreams.ttf");
}

@font-face
{ font-family: "caviarBold";
  font-weight: bold;
  src: url("./../font/CaviarDreams/CaviarDreams_Bold.ttf");
}

@font-face
{ font-family: "caviarIta";
  font-style: italic;
  src: url("./../font/CaviarDreams/CaviarDreams_Italic.ttf");
}

@font-face
{ font-family : "raspoutine";
  src: url("./../font/Raspoutine/RaspoutineClassic_TB.otf");
}

@font-face
{ font-family: "king";
  src: url("./../font/ModernKing/Modern_King.ttf");
}

@font-face
{ font-family: "signature";
  src: url("./../font/SignatureOfTheAncient/Signature.ttf");
}

@font-face
{ font-family: "dream";
  src: url("./../font/DreamOrphans/dream_orphans_bd.ttf");
}
