/*Reset*/

*
{ box-sizing:border-box;
}
a
{ text-decoration:none;
}

nav
{ background-color: #20233F;
}

body
{ margin: 0px;
  font-size: 18px;
}

/* Header */

#header
{ display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  color: white;
}

#header img
{ height: 80%;
}

#header>div
{ height: 100%;
  display: flex;
  align-items: center;
}

h1
{ font-family: caviar;
  font-weight: bold;
}

#tradeheaven
{ margin-left: 50px;
  font-family: raspoutine;
}

#tradeheaven>h2
{ color: white !important;
}

#compte
{ padding-right: 70px;
}

#alerte img
{ height: 100%;
  width: auto;
}

#compte a:first-of-type
{ margin-right: 10px;
  font-family: caviar;
  font-size: 0.7em;
  color: white;
  text-align: right;
}

#compte a:first-of-type:hover
{ text-decoration: underline;
}


#compte a:last-of-type
{ margin-left: 20px;
  font-family: caviar;
  font-style: italic;
  font-size: 0.75em;
  color: #B0B3C1;
  border: 1px solid #B0B3C1;
  border-radius: 10px;
  padding: 10px;
}

#compte a:last-of-type:hover
{ background-color: #B0B3C1;
  color: #20233F;
}

a>p:first-of-type
{ margin-bottom: -15px;
  color: #B0B3C1;
  font-size: 1.5em;
  font-weight: bold;
}


/* Footer */
#footer
{ width: 100vw;
  height: 7vh;
}

#footer ul
{ display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: caviar;
  font-size: 0.65em;
  color: white;
}

#footer li
{ list-style-type: none;
  margin: 5px;
}

#footer li:before
{ content: "|     ";
}

#footer li:first-of-type:before
{ content: "";
}

#footer li a
{ color: white;
}

#footer li a:hover
{ text-decoration: underline;
}

/* Alerte */

#alerte
{ height: 60%;
  width: auto;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 50px;
}
#alerte div
{ height: 10px;
  width: 10px;
  background-color: #F91206;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

