
html
{ font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  color: #333333;
  font-size:12px;
}
*
{ box-sizing:border-box;
}

/* ////////////////// MISE EN FORME ////////////////// */

/* ////////////////// PAGE D'ACCUEIL NON CONNECTÉ ////////////////// */

/* Première partie - Présentation */
.container-fluid {
  padding: 0px !important;
}
body
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.content
{


  background-image: url('../img/acceuil1.jpg');
  background-size:cover;
  min-height:100vh;
}
section
{
  height:100vh;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.accueil__logo
{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.accueilText
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:100%;
}
.accueil__image
{
  height:70%;
  width:auto;
}
.accueil__titre
{
  font-family:raspoutine;
  height:20%;
  font-size:7vw;
  color:white;
  text-shadow: 0.05em 0.05em 0.05em black;
  white-space: nowrap;
}
.accueil__soustitre , .erreur
{
  margin-top:5px;
  font-family:dream;
  font-size:4vh;
  color:white;
  text-shadow: 0.08em 0.08em 0.08em black;
  white-space: nowrap;
}
.accueil__tiret
{
  margin-bottom:35px;
}
.accueil__argu
{
  padding-top:20px;
  font-family:dream;
  font-size:3vh;
  color:white;
  text-shadow: 0.08em 0.08em 0.08em black;
  white-space: nowrap;
}

.connexion
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:20vh;
  width:25vw;
  background-color: #1F2340;
  margin-bottom: 20px;
}
.connexion__formulaire
{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.connexion__titre {
  font-family: caviar;
  font-size: 25px;
  color: white;
}
.connexion__entrees {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.connexion__idLabel , .connexion__mdpLabel {
  font-family: caviar;
  font-size: 18px;
  color: white;
  align-items: start;
}
.connexion__identifiant , .connexion__mdp
{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  width:49%;
}
.connexion_idInput , .connexion__mdpInput
{
  width:98%;
  height:25px;
  border-radius: 5px;
}
.connexion__button
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:20%;
  width:33%;
  min-width: 200px;
  background-color: #1F2340;
  font-family: caviar;
  font-size: 20px;
  color: white;
  white-space:nowrap;
}
.connexion__button:hover
{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f9415), color-stop(1, #7cb362));
  background:-moz-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:-webkit-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:-o-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:-ms-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:linear-gradient(to bottom, #B6F2FF 5%, #2D717F 100%);
  background-color:#B6F2FF;
  color:white;
  cursor:pointer;
}

.view-more1
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height:%;
  width:50%;
  min-width: 200px;
  font-family: caviar;
  font-size: 20px;
  color: white;
  white-space:nowrap;
}
.view-more1:hover
{
  color:white;
}

/* Deuxième partie - Inscription & connexion */
.information {


  background-image: url('../img/acceuil3.jpg');
  background-size:cover;
  min-height:100vh;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.information__inscription
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:75vh;
  width:35vw;
  background-color: #1F2340;
}
.information__inscription  form
{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.information__inscription  form h2 {
  font-family: caviar;
  font-size: 36px;
  color: white;
}
.information__inscription  form label {
  font-family: caviar;
  font-size: 28px;
  color: white;
}
.information__inscription  .information__inscriptionConnect
{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  width:100%;
}
.information__inscription  .information__inscriptionConnect label {
  align-items: start;
}
.information__inscription  input
{
  width:80%;
  height:50px;
  border-radius: 5px;
}
#date
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  width:100%;
}
.information__inscription  select
{
  height:2vw;
  width:6vw;
}
.information__inscription  button
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:7%;
  width:33%;
  min-width: 200px;
  background-color: #1F2340;
  font-family: caviar;
  font-size: 28px;
  color: white;
}
.information__inscription  button:hover
{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f9415), color-stop(1, #7cb362));
  background:-moz-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:-webkit-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:-o-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:-ms-linear-gradient(top, #B6F2FF 5%, #2D717F 100%);
  background:linear-gradient(to bottom, #B6F2FF 5%, #2D717F 100%);
  background-color:#B6F2FF;
  color:white;
  cursor:pointer;
}


/* Troisième partie - Bulles */
#commentaire {
	height:100vh;
	background-image:url(../img/accueil2.jpg);
	display:flex;
	flex-wrap:wrap;
}


#commentaire img{
	height:60%;
}

#commentaire div{
	width:450px;
	margin:auto;
	background-size: 80%;
	height: 300px;
	text-align:center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-position: bottom;
}

#commentaire div:nth-child(odd){
	background-image:url(../img/bulle.png);
}

#commentaire div:nth-child(even){
	background-image:url(../img/bulle2.png);
}

#commentaire h2{
	width:60%;
	text-align: justify;
	font-family: caviar;
	margin-bottom: 0px;
	margin-top: 0px;
	text-shadow:2px 2px white;
	color:black;
}

#commentaire h1{
	font-family:raspoutine;
	color:black;

}

#commentaire div:first-child{
	margin-left:170px;
}

#commentaire div:nth-child(2){
	margin-top:130px;
}

#commentaire div:nth-child(3){
	margin-bottom:100px;
}

#commentaire div:last-child{
	margin-right:150px;
}
