@font-face{
  font-family: Raspoutine;
  src:url('./font/Raspoutine/RaspoutineClassic_TB.otf');
}
@font-face{
  font-family: Signature of the Ancient;
  src:url('./font/Signature of the Ancient/Signature of the Ancient.ttf');
}
@font-face{
  font-family: Modern King;
  src:url('./font/Modern King/Modern King.ttf.otf');
}
@font-face{
  font-family: CaviarDreams;
  src:url('./font/CaviarDreams/CaviarDreams.ttf');
}
@font-face{
  font-family: CaviarDreamsIta;
  src:url('./font/CaviarDreams/CaviarDreams_Italic.ttf');
}

html
{ font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  color: #333333;
  font-size:12px;
}
*
{ box-sizing:content-box;
}

/* ////////////////// MISE EN FORME ////////////////// */

/* ////////////////// PAGE D'ACCUEIL NON CONNECTÉ ////////////////// */

/* Première partie - Présentation */

body
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  wrap:no-wrap;
}
.content
{
  overflow: auto;
  position: relative;
}
.content:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;


  background-image: url('./img/photo page d_acceuil 1.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
section
{
  height:100vh;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.accueil>div:first-child
{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.accueil>div:nth-child(2)
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:100%;
}
.accueil img
{
  height:80%;
  width:auto;
}
.accueil h1
{
  font-family:Raspoutine;
  height:8%;
  font-size:15vh;
  color:white;
  text-shadow: 0.1em 0.1em 0.1em black;
}
.accueil h2
{
  margin-top:5px;
  font-family:Signature of the Ancient;
  font-size:5vh;
  color:white;
  text-shadow: 0.08em 0.08em 0.08em black;
}
.accueil ul
{
  margin-bottom:25px;
}
.accueil li
{
  font-family:Signature of the Ancient;
  font-size:4vh;
  color:white;
  text-shadow: 0.08em 0.08em 0.08em black;
}
.view-more1
{
  height:8vh;
  font-size:4vh;
  width:auto;
  font-family:Raspoutine;
  border-radius: 8px;
  border: 4px solid #367F33;
  background-color: #91CC8E;
}
.view-more2
{
  font-size:2vh;
  width:auto;
  font-family:Raspoutine;
  color: black;
  border-radius: 8px;
  border: 2px solid #4E7F2B;
  background-color: #A8CC8E;
  margin-top: 20px;
}


/* Deuxième partie - Inscription & connexion */
