@font-face{
  font-family: Raspoutine;
  src:url('../font/Raspoutine/RaspoutineClassic_TB.otf');
}
@font-face{
  font-family: Signature of the Ancient;
  src:url('../font/SignatureoftheAncient/Signature.ttf');
}
@font-face{
  font-family: Modern King;
  src:url('../font/ModernKing/Modern_King.ttf.otf');
}
@font-face{
  font-family: CaviarDreams;
  src:url('../font/CaviarDreams/CaviarDreams.ttf');
}
@font-face{
  font-family: CaviarDreamsIta;
  src:url('../font/CaviarDreams/CaviarDreams_Italic.ttf');
}

html
{ font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  color: #333333;
  font-size:12px;
}
*
{ box-sizing:border-box;
}

/* ////////////////// MISE EN FORME ////////////////// */

/* ////////////////// PAGE D'ACCUEIL NON CONNECTÉ ////////////////// */

/* Première partie - Présentation */

body
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.content
{


  background-image: url('../img/acceuil1.jpg');
  background-size:cover;
  min-height:100vh;
}
section
{
  height:100vh;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.accueil>div:first-child
{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.accueilText
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:100%;
}
.accueil img
{
  height:70%;
  width:auto;
}
.accueil h1
{
  font-family:Raspoutine;
  height:20%;
  font-size:7vw;
  color:white;
  text-shadow: 0.1em 0.1em 0.1em black;
  white-space: nowrap;
}
.accueil h2
{
  margin-top:5px;
  font-family:Raspoutine;
  font-size:5vh;
  color:white;
  text-shadow: 0.08em 0.08em 0.08em black;
  white-space: nowrap;
}
.accueil ul
{
  margin-bottom:25px;
}
.accueil li
{
  font-family:Raspoutine;;
  font-size:4vh;
  color:white;
  text-shadow: 0.08em 0.08em 0.08em black;
  white-space: nowrap;
}
.view-more1
{
  height:8vh;
  font-size:4vh;
  width:auto;
  font-family:Raspoutine;
  border-radius: 8px;
  border: 4px solid #367F33;
  background-color: #91CC8E;
}
.view-more2
{
  font-size:2vh;
  width:auto;
  font-family:Raspoutine;
  color: black;
  border-radius: 8px;
  border: 2px solid #4E7F2B;
  background-color: #A8CC8E;
  margin-top: 20px;
}


/* Deuxième partie - Inscription & connexion */
#information {


  background-image: url('../img/acceuil3.jpg');
  background-size:cover;
 min-height:100vh;
}

.inscription, .connexion
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:75vh;
  width:35vw;
  position: absolute;
  right::50%;
  background-color: #1F2340;
}
.connexion
{
  display:none;
}
form
{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
form h2 {
  font-family: CaviarDreams;
  font-size: 36px;
  color: white;
}
form label {
  font-family: CaviarDreams;
  font-size: 28px;
  color: white;
}
.connecttext
{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  width:100%;
}
.connecttext label {
  align-items: start;
}
input
{
  width:80%;
  height:50px;
  border-radius: 5px;
}
#date
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  width:100%;
}
select
{
  height:2vw;
  width:6vw;
}
button
{
  height:7%;
  width:33%;
  background-color: #1F2340;
  font-family: CaviarDreams;
  font-size: 28px;
  color: white;
}


/* Troisième partie - Bulles */
#commentaire {
	height:100%;
	background-image:url(../img/accueil2.jpg);
	display:flex;
	flex-wrap:wrap;
}


#commentaire img{
	height:60%;
}

#commentaire div{
	width:450px;
	margin:auto;
	background-size: 80%;
	height: 300px;
	text-align:center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-position: bottom;
}

#commentaire div:nth-child(odd){
	background-image:url(../img/bulle.png);
}

#commentaire div:nth-child(even){
	background-image:url(../img/bulle2.png);
}

#commentaire h2{
	width:60%;
	text-align: justify;
	font-family: CaviarDreams;
	margin-bottom: 0px;
	margin-top: 0px;
	text-shadow:2px 2px white;
	color:black;
}

#commentaire h1{
	font-family:Raspoutine;
	color:black;

}

#commentaire div:first-child{
	margin-left:170px;
}

#commentaire div:nth-child(2){
	margin-top:130px;
}

#commentaire div:nth-child(3){
	margin-bottom:100px;
}

#commentaire div:last-child{
	margin-right:150px;
}
